/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
     box-sizing: border-box;

   }
body {
     background-color: black;
     color: white;
}
li {
     list-style-type: none;
}

ol {
     display: block;
}
button {
     background-color: aliceblue;
     margin: 3px;
     padding: 7px;
     border: none;
     border-radius: 7px;
}
   /******************************************
   /* LAYOUT
   /*******************************************/
   
   
   
   /******************************************
   /* ADDITIONAL STYLES
   /*******************************************/
   